// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'partials/header';

// Main
@import 'partials/main';

// Footer
@import 'partials/footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { background-color: unset !important; }

.fs-35 { font-size: 35px; }

a {
    color: unset !important;
    text-decoration: none !important;
}

footer, header {
    background-color: #ff702a;
    color: white;
    padding: 15px 0;
}

li { list-style: none !important; }

.login {
    margin-bottom:5px;
}

.dropdown-menu {
    width: 300px !important;
}

.active {
  &>.page-link {
      color: white !important;
      background-color: #d25852 !important;
      border-color: #d25852 !important;
  }
}

.admin_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:575.98px) {
    .nav-link {
        padding-left: 0;
    }

    .nav-item { font-size: 14px; }

    header .logo { font-size: 25px; }

    .restaurant_image h1 { font-size: 35px; }
}

.menu_link { 
    color: black;

    &:active { 
        background-color: #90dc7f;
    }
}

[data-braintree-id="toggle"] {
    display: none;
}