// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'partials/header';

// Main
@import 'partials/main';

// Footer
@import 'partials/footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { background-color: unset !important; }

.fs-35 { font-size: 35px; }

a {
    color: unset !important;
    text-decoration: none !important;
}

footer, header {
    background-color: #ff702a;
    color: white;
    padding: 15px 0;
}

li { list-style: none !important; }

.login {
    margin-bottom:5px;
}

.dropdown-menu {
    width: 300px !important;
}

.active {
  &>.page-link {
      color: white !important;
      background-color: #d25852 !important;
      border-color: #d25852 !important;
  }
}

.admin_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu_link { 
    color: black;

    &:active { 
        background-color: #90dc7f;
    }
}

[data-braintree-id="toggle"] {
    display: none;
}

.active { 
    &>.page-link { 
        color: #ff702a !important;
        border-color: #dee2e6 !important;
        border-bottom: 3px solid #ff702a !important;
        font-weight: bold;
        background-color: unset !important;
    }
}

.logo_l_r { 
    color: #ff702a; 
    font-size: 45px;
    font-weight: bold;
}

.highcharts-credits { display: none !important; }

@media screen and (max-width:767.98px) {
    main .jumbotron { 
        background-position: 87%;
        div {
            justify-content: start !important;
        }
        h1 { 
            font-size: 4rem;
            text-align: unset;
            width: unset;
            max-width: 305px;
        }
    }
}

@media screen and (max-width:575.98px) {
    .nav-link {
        padding-left: 0;
    }

    .nav-item { font-size: 14px; }
    .logo { font-size: 30px !important; }
    .restaurant_image h1 { font-size: 35px; }

    main .jumbotron { 
        background-position: 87%;
        div {
            justify-content: start !important;
        }
        h1 { 
            font-size: 3.5rem;
            text-align: unset;
            width: unset;
            max-width: 250px;
        }
    }
}

@media screen and (min-width:575.98px) {
    main { min-height: 600px; }
}

@media screen and (max-width:991.98px) {
    .overview { 
        flex-wrap: wrap;
        h2 { 
            padding: 0 !important;
            padding-top: 15px!important; 
        }
        a { margin-bottom: 15px; }
    }
}