// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'partials/header';

// Main
@import 'partials/main';

// Footer
@import 'partials/footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { background-color: unset !important; }

.fs-35 { font-size: 35px; }

a {
    color: unset !important;
    text-decoration: none !important;
}

footer, header {
    background-color: #ff702a;
    color: white;
    padding: 15px 0;
}

li { list-style: none !important; }

.login {
    margin-bottom:5px;
}

.dropdown-menu {
    width: 300px !important;
}

.active {
  &>.page-link {
      color: white !important;
      background-color: #d25852 !important;
      border-color: #d25852 !important;
  }
}

.admin_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:575.98px) {
    .nav-link {
        padding-left: 0;
    }

    .nav-item { font-size: 14px; }
    .logo { font-size: 30px !important; }
    .restaurant_image h1 { font-size: 35px; }
}

@media screen and (min-width:575.98px) {
    main { min-height: 600px; }
}

.menu_link { 
    color: black;

    &:active { 
        background-color: #90dc7f;
    }
}

[data-braintree-id="toggle"] {
    display: none;
}

.active { 
    &>.page-link { 
        color: #ff702a !important;
        border-color: #dee2e6 !important;
        border-bottom: 3px solid #ff702a !important;
        font-weight: bold;
        background-color: unset !important;
    }
}

.logo_l_r { 
    color: #ff702a; 
    font-size: 45px;
    font-weight: bold;
}

.ih-item a {     
    border: 8px solid #fff;
}

.ih-item.square.effect3 {
    overflow: hidden;
  }
  .ih-item.square.effect3.colored .info {
    background: #1a4a72;
  }
  .ih-item.square.effect3 .img {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .ih-item.square.effect3 .info {
    height: 65px;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    background: #dedede;
  }
  .ih-item.square.effect3 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px 10px 0 4px;
    margin: 4px 0 0 0;
  }
  .ih-item.square.effect3 .info p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 5px;
    text-align: center;
  }
  .ih-item.square.effect3 a:hover .info {
    visibility: visible;
    opacity: 1;
  }
  
  .ih-item.square.effect3.bottom_to_top .info {
    top: auto;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  .ih-item.square.effect3.bottom_to_top a:hover .img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  .ih-item.square.effect3.bottom_to_top a:hover .info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  
  .ih-item.square.effect3.top_to_bottom .info {
    bottom: auto;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .ih-item.square.effect3.top_to_bottom a:hover .img {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
  }
  .ih-item.square.effect3.top_to_bottom a:hover .info {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .ih-item.square {
    position: relative;
    width: 316px;
    height: 216px;
  }
  .ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
