footer {
    i { 
        margin-left: 5px;
        font-size: 20px;
        vertical-align: middle;
    }

    li { 
        display: flex;
        justify-content: flex-end;
        padding-top: 5px;
    }   
}