main {
    .jumbotron {
        height: 500px;
        width: 100%;
        background: url('http://chimpgroup.com/themeforest/foodbakery-html/assets/extra-images/bg-image1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0 !important;
    }

    .jumbotron h1 {
        font-size: 4.5rem;
        text-align: center;
        width: 700px;
    }

    .categories {
        padding: 25px 0;
        background-color: white;
    }

    .card {
        position: relative;
        box-shadow: 3px 6px 6px -2px #8e8e8e;
        margin: 20px 0;
    }

    .cuisine {
        position: absolute;
        left: -5px;
        top: 0px;
    }

    .sep {
        background-color: #ff702a;
    }

    .results {
        .res, i { color: #ff702a; }
    }

    .type {
        background-color: white;
        border-radius: 50%;
        width: 125px;
        padding: 15px;
        text-align: center;

        img {
            width: 75px;
            height: 75px;
        }
    }

    input {
        margin-bottom: 1rem;
    }

    .restaurant_image { 
        position: relative;
        img { 
            width: 100%;
            height: 300px;
            object-fit: cover;
            filter: brightness(0.45);
        }
        h1 { 
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 1px 4px 3px black;
            text-transform: uppercase;
            text-align: center;        
        }
    }
        
    /* HOMEPAGE TYPES */
    .ih-item.circle.effect1 .spinner {
        width: 160px;
        height: 160px;
        border: 10px solid #ecab18;
        border-right-color: #1ad280;
        border-bottom-color: #1ad280;
        border-radius: 50%;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
      }
      .ih-item.circle.effect1 .img {
          position: absolute;
          top: 9px;
          bottom: 0;
          left: 4px;
          right: 0;
          width: 140px;
          height: 140px;
          margin: auto;
      
          img{
          background-color: white;
          position: relative;
          top: -5px;
          left: -2px;
        }
      }
      
      .ih-item.circle.effect1 .img:before {
        display: none;
      }
      .ih-item.circle.effect1.colored .info {
        background: #1a4a72;
        background: rgba(26, 74, 114, 0.75);
      }
      .ih-item.circle.effect1 .info {
      
          width: 160px;
          height: 160px;
          margin: auto;
          background: #333333;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
      }
      .ih-item.circle.effect1 .info h3 {
          color: #fff;
          text-transform: uppercase;
          position: relative;
          letter-spacing: 2px;
          font-size: 1rem;
          font-weight: 600;
          margin: 10px 15px;
          padding: 55px 0 0 0;
          height: 110px;
          text-shadow: 0 0 1px white, 0 1px 2px rgb(0 0 0 / 30%);
          text-align: center;
          vertical-align: middle;
      }
      .ih-item.circle.effect1 .info p {
        color: #bbb;
        padding: 10px 5px;
        font-style: italic;
        margin: 0 30px;
        font-size: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
      }
      .ih-item.circle.effect1 span:hover .spinner {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .ih-item.circle.effect1 span:hover .info {
        opacity: 1;
      }
      
      .ih-item {
        position: relative;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
      .ih-item,
      .ih-item * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .ih-item a {
        color: #333;
      }
      .ih-item a:hover {
        text-decoration: none;
      }
      .ih-item img {
        width: 100%;
        height: 100%;
      }
      
      .ih-item.circle {
        position: relative;
        width: 220px;
        height: 220px;
        border-radius: 50%;
      }
      .ih-item.circle .img {
        position: relative;
        width: 220px;
        height: 220px;
        border-radius: 50%;
      }
      .ih-item.circle .img:before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
      .ih-item.circle .img img {
        border-radius: 50%;
      }
      .ih-item.circle .info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        border-radius: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      @media screen and (max-width: 1199.98px)  {
        .ih-item.circle.effect1 .img {
          left: 19px;
          right: 0px;
          top: 11px;
          width: 125px;
          height: 125px;
        }
      
        .ih-item.circle.effect1 .spinner {
          width: 144px;
          height: 144px;
        }
      
        .ih-item.circle.effect1 .info {
          width: 144px;
          height: 144px;
          left: 13px;
        }
      }
      
      @media screen and (max-width: 991.98px)  {
        .ih-item.circle.effect1 .img {
          left: 5px;
        }
      
        .ih-item.circle.effect1 .info {
          width: 144px;
          height: 144px;
          left: 0px;
        }
      }
      
      @media screen and (max-width: 767.98px)  {
        .ih-item.circle.effect1 .img {
          left: 3px;
        }
      
        .ih-item.circle.effect1 .info {
          width: 144px;
          height: 144px;
          left: 0px;
        }
      }
    /* /HOMEPAGE TYPES */

    /* SINGLE PAGE RESTAURANT MENU */
    .c_review {
        margin-bottom: 0
    }
    
    .c_review li {
        margin-bottom: 16px;
        padding-bottom: 13px;
        border-bottom: 1px solid #e8e8e8
    }
    
    .c_review li:last-child {
        margin: 0;
        border: none
    }
    
    .c_review .avatar {
        float: left;
        width: 80px
    }
    
    .c_review .comment-action {
        float: left;
        width: calc(100% - 80px)
    }
    
    .c_review .comment-action .c_name {
        margin: 0
    }
    
    .c_review .comment-action p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 95%;
        display: block
    }
    
    .product_item:hover .cp_img {
        top: -40px
    }
    
    .product_item:hover .cp_img img {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
    }
    
    .product_item:hover .cp_img .hover {
        display: block
    }
    
    .product_item .cp_img {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -o-transform: translate(-50%);
        -khtml-transform: translate(-50%);
        width: 100%;
        padding: 15px;
        transition: all 0.2s ease-in-out
    }
    
    .product_item .cp_img img {
        transition: all 0.2s ease-in-out;
        border-radius: 6px
    }
    
    .product_item .cp_img .hover {
        display: none;
        text-align: center;
        margin-top: 10px
    }
    
    .product_item .product_details {
        padding-top: 90%;
        text-align: center
    }
    
    .product_item .product_details h5 {
        margin-bottom: 5px
    }
    
    .product_item .product_details h5 a {
        font-size: 16px;
        color: #444
    }
    
    .product_item .product_details h5 a:hover {
        text-decoration: none
    }
    
    .product_item .product_details .product_price {
        margin: 0
    }
    
    .product_item .product_details .product_price li {
        display: inline-block;
        padding: 0 10px
    }
    
    .product_item .product_details .product_price .new_price {
        font-weight: 600;
        color: #ff4136
    }
    
    .product_item_list table tr td {
        vertical-align: middle
    }
    
    .product_item_list table tr td h5 {
        font-size: 15px;
        margin: 0
    }
    
    .product_item_list table tr td .btn {
        box-shadow: none !important
    }
    
    .product-order-list table tr th:last-child {
        width: 145px
    }
    
    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    
    .preview .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
    
    .preview .preview-thumbnail.nav-tabs {
        margin-top: 15px;
        font-size: 0
    }
    
    .preview .preview-thumbnail.nav-tabs li {
        width: 20%;
        display: inline-block
    }
    
    .preview .preview-thumbnail.nav-tabs li nav-link img {
        max-width: 100%;
        display: block
    }
    
    .preview .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 2px;
        border-radius: 0 !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important
    }
    
    .preview .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0
    }
    
    .preview .tab-content {
        overflow: hidden
    }
    
    .preview .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s
    }
    
    .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    
    .details .rating .stars {
        display: inline-block
    }
    
    .details .sizes .size {
        margin-right: 10px
    }
    
    .details .sizes .size:first-of-type {
        margin-left: 40px
    }
    
    .details .colors .color {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 2px
    }
    
    .details .colors .color:first-of-type {
        margin-left: 20px
    }
    
    .details .colors .not-available {
        text-align: center;
        line-height: 2em
    }
    
    .details .colors .not-available:before {
        font-family: Material-Design-Iconic-Font;
        content: "\f136";
        color: #fff
    }
    
    @media screen and (max-width: 996px) {
        .preview {
            margin-bottom: 20px
        }
    }
    
    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3)
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
    
    @keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3)
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
    
    .cart-page .cart-table tr th:last-child {
        width: 145px
    }
    
    .cart-table .quantity-grp {
        width: 120px
    }
    
    .cart-table .quantity-grp .input-group {
        margin-bottom: 0
    }
    
    .cart-table .quantity-grp .input-group-addon {
        padding: 0 !important;
        text-align: center;
        background-color: #1ab1e3
    }
    
    .cart-table .quantity-grp .input-group-addon a {
        display: block;
        padding: 8px 10px 10px;
        color: #fff
    }
    
    .cart-table .quantity-grp .input-group-addon a i {
        vertical-align: middle
    }
    
    .cart-table .quantity-grp .form-control {
        background-color: #fff
    }
    
    .cart-table .quantity-grp .form-control+.input-group-addon {
        background-color: #1ab1e3
    }
    
    .ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control {
        padding: 0
    }
    
    .ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control .btn-round.btn-simple {
        padding-top: 12px;
        padding-bottom: 12px
    }
    
    .ec-checkout .wizard .content ul.card-type {
        font-size: 0
    }
    
    .ec-checkout .wizard .content ul.card-type li {
        display: inline-block;
        margin-right: 10px
    }
    
    .dish_card {
        background: #fff;
        margin-bottom: 30px;
        transition: .5s;
        border: 0;
        border-radius: .55rem;
        position: relative;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    }
    
    .dish_card .body {
        font-size: 14px;
        color: #424242;
        padding: 20px;
        font-weight: 400;
    }

    .hover { 
        i { 
            padding: 7px 0px;
            margin-left: -2px;
        }
    }
    /* /SINGLE PAGE RESTAURANT MENU */

    /* SHOPPING CART */
    .shopping_cart {
        background: #a54617;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 2;
        padding: 14px 18px;
        border-radius: 50%;
        color: white;
        font-size: 20px;

        i { margin-right: 3px; }

        .items { 
            background-color: #f95302;
            color: white;
            position: absolute;
            top: -3px;
            left: -6px;
            padding: 0px 8px;
            border-radius: 50%;
            font-size: 14px;
            padding-top: 2px;
        }
    }

    .cart_table {
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 

        .count { 
            width: 25px;
            &>:focus { border: 0; }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance:textfield;
        }
    }

    #cart { 
        i { color: unset; padding: unset; }
    }
    /* /SHOPPING CART */

    /* HOW IT WORKS */
    .how {
        margin: 30px 0;
        
        .step{
            padding: 10px;
            margin: 10px;
            position: relative;
            border: 1px solid $orange;
        }
        &>h2{
            font-size: 3rem;
        }
        .fa-store-alt , .fa-credit-card , .fa-truck{
            padding: 10px;
            color: $orange;
        }
        &>h4{
            font-weight: 900;
        }
        .number{
            font-weight: 900;
            color: $orange;
            border: 1px solid $orange;
            border-radius: 50%;
            display: inline-block;
            width: 25px;
            height: 25px;
            position: absolute;
            top: -10%;
            background: white;
            left: 46%;
        }
    }
    /* /HOW IT WORKS */
}
